<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Customer Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 p-0">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <!-- Brand -->
                    <a class="navbar-brand" href="#">Customer Management System</a>

                    <!-- Toggler/collapsibe Button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Navbar links -->
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/customers}">Customer Management</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <h2> List of Customers </h2>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-3">
                        <a th:href="@{/customers/new}" class="btn btn-primary py-2 px-2 text-white btn-sm mb-3"> Add Customer</a>
                    </div>
                    
                    <div>
                        <form th:action="@{/customers/searchBy}" method="get">
                            <div class="input-group mb-3">
                                <select class="form-select" id="searchByDropdown" name="searchBy">
                                    <option value="firstname">First Name</option>
                                    <option value="city">City</option>
                                    <option value="email">Email</option>
                                    <option value="phone">Phone</option>
                                </select>
                                <input type="text" class="py-1 px-2 border rounded-3" name="query" placeholder="Search Customer">
                                <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th> First Name</th>
                            <th> Last Name</th>
                            <th> Address </th>
                            <th> City </th>
                            <th> State </th>
                            <th> Email </th>
                            <th> Phone </th>
                            <th> Actions </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="customer: ${customers}">
                            <td th:text="${customer.firstname}"></td>
                            <td th:text="${customer.lastname}"></td>
                            <td th:text="${customer.address}"></td>
                            <td th:text="${customer.city}"></td>
                            <td th:text="${customer.state}"></td>
                            <td th:text="${customer.email}"></td>
                            <td th:text="${customer.phone}"></td>
                            <td>
                                <a th:href="@{/customers/edit/{id}(id=${customer.id})}" class="btn btn-primary text-white">Edit</a>

                                <a th:href="@{/customers/{id}(id=${customer.id})}" class="btn btn-danger text-white">Delete</a>

                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>

    </div>
</body>

</html>